<div class="row">
  <div class="col-3">
<product-filter [category]="category"></product-filter>
  </div>
  <!-- in new bootstrap we don't need to define number for remining columns
  it will expand automatically when we define class 'col' -->
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <product-card [product]="p"></product-card>
        </div>
        <div *ngIf="( i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>